CalculatorClient/src/conf/xml-resources/web-service-references/CServiceServer/wsdl/localhost_8080/CalculatorServer/CServiceServer.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server/">

<xs:element name="calc" type="tns:calc"/>

<xs:element name="calcResponse" type="tns:calcResponse"/>

<xs:complexType name="calc">
<xs:sequence>
<xs:element name="n1" type="xs:double"/>
<xs:element name="n2" type="xs:double"/>
<xs:element name="operation" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>